:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text-1: #4C4F4C;
    --color-text-2: #6A6B6C;
    --color-blue-light-1: #6BB1F2;
    --color-blue-light-2: #238CE7;
    --color-blue-light-3: #BDDBFA;
    --color-blue-light-4: #E4F1FD;
    --color-blue-light-5: #1372D3;
    --color-blue-dark-1: #223C58;
    --color-blue-dark-2: #204147;
    --color-orange: #FF9900;
    
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

.active {
    color: var(--color-blue-light-1) !important;
}

.mar-0 {
    margin-bottom: 0;
}


/* media */
@media (max-width: 1209px) {
    .header {
        padding: 20px 40px;
    }
}


@media screen and (max-width: 1070px) {
    .header {
        padding: 20px 20px;
        height: 94px;
    }
    .navbar-logo img {
        /* width: 100%; */
        height: 100%;
        object-fit: cover;
    }
    

}

@media screen and (max-width: 1010px) {
    .checkbtn {
        display: block;
        color: var(--color-blue-light-1);
    }

    .menu-desk-horizontal {
        display: none;
    }

    .theme-item__text h1 {
        font-size: 46px;
    }

    .theme-btn {
        display: none;
    }

    .video-box {
        display: block;
        height: 260px;
    }
}

@media screen and (max-width: 760px) {
    .theme-item__text h1 {
        font-size: 26px;
    }

}
